<template name="titlePage">
  <div class="title-section overlay" style="background-image: url({{dict 'site.heroImage.url'}})">
    <div class="container">
      <h1 class="section-title">{{dict 'site.title' 'dlintec'}}</h1>
      <p class="section-subtitle">{{dict 'site.description' 'Container Stack'}}</p>
      <a class="btn btn-default btn-file btn-xs"  href="/admin">Administración</a>
      <p >{{{dict 'site.main_content' 'Main Content'}}}</p>
      <a  >{{currentUser.profile.name}}</a>
    </div>
  </div>
</template>
