<template name="titlePage">
  <div class="title-section overlay" style="background-image: url({{dict 'site.heroImage.url'}})">
    <div class="container">
      <h1 class="section-title">{{dict 'site.title' 'dlintec'}}</h1>
      <p class="section-subtitle">{{dict 'site.description' 'Container Stack'}}</p>
      <p >{{{dict 'site.main_content' 'Main Content'}}}</p>
      <!--  <a class="btn btn-default btn-file btn-xs"  href="{{dict 'site.pdf.url'}}" target="_blank">Archivo</a> -->
      <!-- {{> atForm}}
      test-->
      {{#if currentUser }}
        <p class="section-subtitle">{{currentUser.profile.name}}</p>
        <p> You're logged in </p>
        <a class="btn btn-default btn-file btn-xs"  href="/admin">Administración</a>
      {{else}}
         <p> You're not logged in </p>
           <a href="/login" class="btn btn-default btn-file btn-xs"><i class="fa fa-sign-in"></i> Log in</a>
      {{/if}}
    </div>
  </div>
</template>
